### 1 - Dates and Calendar

1. Dates in Python
2. Mathematics with Dates
3. Dates and String

In [1]:
from datetime import date, datetime

independence_day = date(1945, 8, 17)

print(independence_day)

1945-08-17

In [2]:
today = datetime.today()

print(today.date())

2022-04-01

In [3]:
days = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}

print(days[today.weekday()])

Friday

In [4]:
print("Days : {}, Month : {}, Year : {}".format(today.day, today.month, today.year))

Days : 1, Month : 4, Year : 2022

In [5]:
print(type(today))
print(type(independence_day))

<class 'datetime.datetime'>
<class 'datetime.date'>

In [6]:
import pandas as pd

url = "https://github.com/SophrosyneEunoia/Shockwave/blob/main/florida_hurricane_dates.pkl?raw=true"

hurricane = pd.read_pickle(url)

print(hurricane[:2])

[datetime.date(1988, 8, 4), datetime.date(1990, 10, 12)]

In [7]:
early = lately = 0

print(early, lately)

0 0

In [8]:
for storm in hurricane:
    if storm.month < 6:
        early += 1
    else:
        lately += 1
        
print(early, lately)

10 225

In [9]:
month = {}

for storm in hurricane:
    if storm.month in month.keys():
        month[storm.month] += 1
    else:
        month[storm.month] = 1
        
print(month)

{8: 49, 10: 43, 4: 1, 9: 70, 5: 8, 6: 32, 7: 21, 11: 9, 12: 1, 2: 1}

In [10]:
start = date(2007, 5, 9)

end = date(2007, 12, 13)

print(end-start)
print((end - start).days)

218 days, 0:00:00
218

In [11]:
tanggal = date(2022, 11, 20)

print(tanggal)

2022-11-20

In [12]:
print(tanggal.strftime("%Y"))

2022

In [13]:
print(tanggal.strftime("%Y/%m/%d"))

2022/11/20

In [14]:
tgl_str = tanggal.strftime("%Y/%m/%d")

print(type(tanggal))
print(type(tgl_str))

<class 'datetime.date'>
<class 'str'>

Reference about strftime => <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes" style="color:black; text-decoration:none">Format Reference</a>

In [15]:
from datetime import datetime

dt = datetime(2017, 10, 1, 15, 26, 26)

print(dt)
print(dt.isoformat())

2017-10-01 15:26:26
2017-10-01T15:26:26

In [16]:
from datetime import datetime

dt = datetime(2017, 12, 31, 15, 19, 13)

dt_old = dt.replace(year=1917)

print(dt)
print(dt_old)

2017-12-31 15:19:13
1917-12-31 15:19:13

In [17]:
url_bike = "https://raw.githubusercontent.com/SophrosyneEunoia/Shockwave/main/capital-onebike.csv"

onebike = pd.read_csv(url_bike)

onebike.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [18]:
onebike.iloc[0,0]

'2017-10-01 15:23:25'

In [19]:
print(type(onebike.iloc[0,0]))

<class 'str'>

In [20]:
for col in onebike.columns[:2]:
    onebike[col] = pd.to_datetime(onebike[col])

print(type(onebike.iloc[0,0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [21]:
onebike.iloc[0,0]

Timestamp('2017-10-01 15:23:25')

In [22]:
onebike.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [23]:
print(onebike.iloc[0,0].hour)

15

In [24]:
time = {'AM':0,'PM':0}

for tm in onebike.iloc[:,0]:
    if tm.hour <= 12:
        time['AM'] += 1
    else:
        time['PM'] += 1
        
print(time)

{'AM': 103, 'PM': 187}

In [25]:
waktu = onebike.iloc[0,0]

print(waktu)

2017-10-01 15:23:25

In [26]:
print(type(waktu))

waktu_str = waktu.strftime("%H-%M-%S")
print(waktu_str)
print(type(waktu_str))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
15-23-25
<class 'str'>

In [27]:
# Import datetime
from datetime import datetime

# Starting timestamps
timestamps = [1514665153, 1514664543]

# Datetime objects
dts = []

# Loop
for ts in timestamps:
    dts.append(datetime.fromtimestamp(ts))

print(dts)

[datetime.datetime(2017, 12, 31, 3, 19, 13), datetime.datetime(2017, 12, 31, 3, 9, 3)]

In [28]:
a = onebike.iloc[0,0]
b = onebike.iloc[0,1]

print(a)
print(b)
print(b - a)

2017-10-01 15:23:25
2017-10-01 15:26:26
0 days 00:03:01

In [29]:
print((b - a).total_seconds())

181.0

### 3 - Time Zones and Daylight Saving

1. UTC
2. Time Zone
3. Daylight Saving

In [30]:
from datetime import datetime, timezone

this = datetime.today()

print(this)

2022-04-01 20:59:23.866865

### 4 - Dates and Times in Pandas