### Part 1
1. Writing your own functions
2. Default arguments, variable-length arguments and scope
3. Lambda functions and error-handling

In [1]:
def greetings():
    print("Hello Nicholas")
    
greetings()

Hello Nicholas

In [2]:
def morning():
    print("Good Morning !!!")
    
morning()

Good Morning !!!

In [3]:
def student_name(name):
    print(f"Hello {name}")
    
student_name("Isyana")

Hello Isyana

In [4]:
def student_age(age):
    print(f"Current Age {age}")
    
student_age(20)

Current Age 20

In [5]:
def programming_language(prog_lang):
    result = f"Nicholas Like {prog_lang}"
    return result

print(programming_language("Python"))

Nicholas Like Python

In [6]:
def edm(edm_artist):
    result = f"I Like {edm_artist}"
    return result
    print("Hello")
    
print(edm("Zedd"))

I Like Zedd

In [7]:
def student_profile(name, age):
    return f"{name} age is {age}"

print(student_profile("Kelv",20))

Kelv age is 20

In [8]:
def student_profile(name, age):
    name = name.upper()
    age = str(age) + " Years Old"
    return (name, age)

x, y = student_profile("elv",29)

print(x, y)

ELV 29 Years Old

In [9]:
def luas_lingkaran(r, pi = 3.14):
    return pi * r * r

print(luas_lingkaran(7))

153.86

In [10]:
def pytha(a, b = 4):
    return (a ** 2 + b ** 2)**0.5

print(pytha(3))
print(pytha(3,3))

5.0
4.242640687119285

In [11]:
nama = "Martin Garrix"

def editor():
    nama = "Zedd"
    return nama

print(nama)
print(editor())
print(nama)

Martin Garrix
Zedd
Martin Garrix

In [12]:
nama = "Harry Meguayer"

def editor():
    global nama
    nama = "Haji Wak Benzema"
    return nama

print(nama)
print(editor())
print(nama)

Harry Meguayer
Haji Wak Benzema
Haji Wak Benzema

In [13]:
def main(nama, kelas):
    def alpha():
        return f"{nama} mendapatkan mata kuliah Data Science"
    def beta():
        return f"{nama} mendapatkan mata kuliah Data Analytics"
    
    if kelas.upper() == 'A':
        return alpha()
    elif kelas.upper() == 'B':
        return beta()
    else:
        return "Unregistered Class"
    
print(main("Kelv","a"))

Kelv mendapatkan mata kuliah Data Science

In [14]:
def main(nama):
    def matkul(matkul):
        return f"{nama} mendapatkan mata kuliah {matkul}"
    return matkul
    
m1 = main("Kelv")
print(m1("Data"))

Kelv mendapatkan mata kuliah Data

In [15]:
def random():
    edm = "Helicopter"
    def inner():
        edm = "Supposed to be"
    inner()
    return edm

print(random())

Helicopter

In [16]:
def random():
    edm = "Helicopter"
    def inner():
        nonlocal edm
        edm = "Supposed to be"
    inner()
    return edm

print(random())

Supposed to be

In [17]:
def unlimited(*args):
    vals = 0
    for num in args:
        vals += num
    return vals

print(unlimited(1))
print(unlimited(1,2,3))

1
6

In [18]:
def keyword(**kwargs):
    for key, val in kwargs.items():
        print(f"{key} : {val}")
        
keyword(nama="Kel",fav_genre="Pop",occupation="GoTo Data Scientist")

nama : Kel
fav_genre : Pop
occupation : GoTo Data Scientist

```lambda arguments : expression``` can take unlimited number of arguments but only one expression

In [19]:
luas_persegi = lambda sisi : sisi ** 2

print(luas_persegi(4))

16

In [20]:
var_x = 10

print(var_X)

NameError: name 'var_X' is not defined

In [21]:
var_x = 10

try:
    print(var_X)
except:
    print("Undefined variable")

Undefined variable

In [22]:
var_x = 10

try:
    print(var_X)
except NameError:
    print("Undefined variable")

Undefined variable

In [23]:
x = "100"

if type(x) != int:
    raise TypeError("Hanya menerima nilai berupa integer")

TypeError: Hanya menerima nilai berupa integer

### Part 2
1. Using iterators in PythonLand
2. List comprehensions and generators
3. Bringing it all together!

```Pre-req : List and For Loop```

In [24]:
nums = [1,2,3,4,5]

print(nums)

[1, 2, 3, 4, 5]

In [25]:
double = []

for num in nums:
    double.append(num * 2)
    
double

[2, 4, 6, 8, 10]

```[expression for loop]```

In [26]:
logistic = [num**2 for num in nums]

logistic

[1, 4, 9, 16, 25]

```[expression for loop if conditional]```

In [27]:
zero_logistic = [num ** 2 for num in range(1,11) if num % 2 == 0]

zero_logistic

[4, 16, 36, 64, 100]

```[expression if else for loop]```

In [28]:
zero_logistic = [num ** 2 if num % 2 == 0 else 0 for num in range(1,11)]

zero_logistic

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100]

```Generators```