In [1]:
import re
import pandas as pd

```\s``` => Whitespace<br>
```\w``` => matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_]<br>
```\W``` => matches what is not in ```\w```

#### 1 - Introduction to Regular Expression

In [2]:
text = "@robot3!, @robot5& and @robot7#"

pattern = r"robot"

print(re.findall(pattern, text))

['robot', 'robot', 'robot']

In [3]:
pattern = r"robot\d"

print(re.findall(pattern, text))

['robot3', 'robot5', 'robot7']

In [4]:
pattern = r"@robot\d\W"

print(re.findall(pattern, text))

['@robot3!', '@robot5&', '@robot7#']

In [5]:
text = "Agh,snow! User_mentions:9, likes: 5, number of retweets: 4"

pt1 = r"User_mentions:\d"
pt2 = r"likes:\s\d"
pt3 = r"retweets:\s\d"

print(re.findall(pt1, text))
print(re.findall(pt2, text))
print(re.findall(pt3, text))

['User_mentions:9']
['likes: 5']
['retweets: 4']

Space = Break<br>
Space Word = SymbolnewCapitalLetter

In [6]:
text = "He#newHis%newTin love with$newPscrappy. #8break%He is&newYmissing him@newLalready"

pattern = r"\W\dbreak\W"

# Replace the regex_sentence with a space
text_sub = re.sub(pattern, " ", text)

In [7]:
print(text_sub)

He#newHis%newTin love with$newPscrappy.  He is&newYmissing him@newLalready

In [8]:
regex_words = r"\Wnew\w"

# Replace the regex_words and print the result
sentiment_final = re.sub(regex_words, " ", text_sub)
print(sentiment_final)

He is in love with scrappy.  He is missing him already

**Repetitions**

In [9]:
tweets = pd.read_csv("https://raw.githubusercontent.com/SophrosyneEunoia/Shockwave/main/short_tweets.csv")
tweets = tweets[['text']]
tweets.head()

                                                text
0  our duck and chicken are taking wayyy too long...
1  Put vacation photos online (They were so cute)...
2                                      I need a hug
3  @andywana Not sure what they are, only that th...
4             @oanhLove I hate when that happens...

In [10]:
text = tweets.iloc[545:548,0]

for txt in text:
    print(txt)

Boredd. Colddd @blueKnight39 Internet keeps stuffing up. Save me! https://www.tellyourstory.com
I had a horrible nightmare last night @anitaLopez98 @MyredHat31 which affected my sleep, now I'm really tired
im lonely  keep me company @YourBestCompany! @foxRadio https://radio.foxnews.com 22 female, new york

In [11]:
for txt in text:
    pattern = r"@\w+"
    print(re.findall(pattern, txt))

['@blueKnight39']
['@anitaLopez98', '@MyredHat31']
['@YourBestCompany', '@foxRadio']

In [12]:
for txt in text:
    pattern = r"http\S+"
    print(re.findall(pattern, txt))

['https://www.tellyourstory.com']
[]
['https://radio.foxnews.com']

In [13]:
text = tweets.iloc[232:235,0]

print(text)

232    I would like to apologize for the repeated Vid...
233    @zaydia but i cant figure out how to get there...
234    FML: So much for seniority, bc of technologica...
Name: text, dtype: object

In [14]:
for txt in text:
    print(txt)

I would like to apologize for the repeated Video Games Live related tweets. 32 minutes ago
@zaydia but i cant figure out how to get there / back / pay for a hotel 1st May 2019
FML: So much for seniority, bc of technological ineptness 23rd June 2018 17:54

32 minutes ago<br>
1st May 2019<br>
23rd June 2018 17:54

In [15]:
for txt in text:
    pt = r"\d{2}\s\w+\sago"
    print(re.findall(pt, txt))

['32 minutes ago']
[]
[]

In [16]:
for txt in text:
    pt = r"\d\w+\s\w+\s\d{4}"
    print(re.findall(pt, txt))

[]
['1st May 2019']
['23rd June 2018']

In [17]:
for txt in text:
    pt = r"\d\w+\s\w+\s\d{4}\s\d{2}:\d{2}"
    print(re.findall(pt, txt))

[]
[]
['23rd June 2018 17:54']

In [18]:
text = "ITS NOT ENOUGH TO SAY THAT IMISS U #MissYou #SoMuch #Friendship #Forever"

pt = r"#\w+"

print(re.findall(pt, text))

['#MissYou', '#SoMuch', '#Friendship', '#Forever']

In [19]:
t_ = re.sub(pt, "", text)

print(t_)

ITS NOT ENOUGH TO SAY THAT IMISS U

#### 2 - Regular Expression for Pattern Matching

#### 3 - Advanced Regular Expression Concept